.z-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    width: 1em;
    height: 1em;
    min-width: 1em;
    vertical-align: -0.125em;
}

.z-icon > svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
    stroke: currentColor;
}

@keyframes z-icon-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.z-icon--spin {
    animation: z-icon-spin 1s linear infinite;
}
